<header>
    <div class="container">
        <h1>Raul Gallegos</h1>
        <img src="/images/raul_avatar.jpg" id="avatar">
        <h2></h2>

        <section id="github">
            <a href="https://github.com/eLRuLL" class="btn btn-github"><span class="icon"></span>GitHub</a>
            <a href="https://linkedin.com/in/elrull" class="btn btn-linkedin"><span class="icon"></span>Linkedin</a>
            <a href="http://stackoverflow.com/users/858913/elrull" class="btn btn-stackoverflow"><span class="icon"></span>StackOverflow</a>
        </section>
    </div>
</header>