<section id="workspace">
    <h2>workspace/</h2>
    <h3>Software Engineer at <a href="http://scrapinghub.com">Scrapinghub</a></h3>
    <p align="right">March 2014 – Current</p>
    <ul>
        <li>Web crawler development with Scrapy.</li>
        <li>Text processing in python (ETL scripts, information extraction, information retrieval, etc.).</li>
        <li>Lead Developer on Professional Services project.</li>
        <li><a href="http://crawlera.com/">Crawlera</a> Developer.</li>
    </ul>

    <h3>Director at <a href="http://goodgame.pe">Goodgame Labs</a></h3>
    <p align="right">February 2015 - Current</p>
    <p>GoodGame Labs is a startup ecosystem and the first co-working space in Arequipa, Peru.</p>
    <p>I am founder and currently managing the space to offer entrepreneurs, creatives and makers the opportunity to have a unique place to grow in contact with very interesting people.</p>
</section>